<section class="p-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-s-12 col-lg-5">
        <form [formGroup]="loginForm" (ngSumbit)="onLogin()" class="border border-dark rounded p-5">
          <div class="mb-3">
            <h3 class="text-center">Login - Admin</h3>
          </div>
          <ng-template [ngIf]="erreurMessage != ''">
            <div class="alert alert-danger text-center">{{erreurMessage}}</div>
          </ng-template>
          <div class="mb-3">
            <label for="nomUtilisateur" class="form-label"> Username</label>
            <input id="nomUtilisateur" type="text" class="form-control" formControlName="nomUtilisateur">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" value="admin">Password</label>
            <input id="password" type="password" class="form-control" formControlName="password">
          </div>
          <div class="mb-3 text-center">
            <app-button (btnClick)="onLogin()" text="Log In"></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>