<div class="row">
  <div class="text-begin col-1 col-lg-1">
    <p>IdE:</p>
  </div>
  <div class="text-begin col-1 col-lg-1">
    <p>{{evenement.idEvenement}}</p>
  </div>
  <div class="btn-group col-2 col-lg-4 offset-3 offset-lg-6 float-right">
    <button (click)="visit(evenement)" class="btn btn-primary">
      <i class="bi bi-folder-plus"></i>
    </button>
    <button (click)="openUpdateModal(evenement)" class=" btn btn-primary">
      <i class="bi bi-pen"></i>
    </button>
    <button (click)="openDeleteModal(evenement)" class="btn btn-primary">
      <i class="bi bi-trash2-fill"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="text-begin col-6">
    <p>Nom :</p>
  </div>
  <div class="text-end col-6 ">
    <p>{{evenement.nomEvenement}}</p>
  </div>
</div>
<div class="row">
  <div class="text-begin col-4">
    <p>Location :</p>
  </div>
  <div class="text-end col-8">
    <p>{{evenement.location}}</p>
  </div>
</div>
<div class="row">
  <div class="text-begin col-6">
    <p>Date :</p>
  </div>
  <div class="text-end col-6">
    <p>{{evenement.date}}</p>
  </div>
</div>
<div class="row">
  <div class="text-begin col-6">
    <p>Organisateur :</p>
  </div>
  <div class="text-end col-6">
    <p>{{evenement.idOrganisateur}}</p>
  </div>
</div>
<div class="row">
  <div class="text-begin col-6">
    <p>Description :</p>
  </div>
  <div class="text-end col-6">
    <p>{{evenement.description}}</p>
  </div>
</div>